.else{
	border-style:solid;
    border-width:1px;
    border-color:red;
    /*圆角*/
    border-radius:25px;
    /*半透明*/
	opacity:0.5;
	/*外边框*/
	margin:5px 33px;
	/*剧中*/
	text-align:center;
    border-radius:25px;
	Float:left;
	background-color:#F0A0FF;
}

/*个人主页-样式*/
#peo-iframe-frame{
	width:100%;
	height:320px;
	background-color:#FFFFFF;
    border-radius:25px;
	text-align:center;
}
#news{
	
	width:100%;
	height:70px;
}
#pe-massage2{
	
	Float:left;
	margin:20px 20px;
}
#name{
	
	font-size:20px;
	Float:left;
}
#Lv{
	
	font-size:10px;
	Float:right;
}
#pe-massage1{
	
	Float:left;
	margin:20px 20px;
	font-size:40px;
}
#massage_img{
	
	width:180px;
	Float:left;
	margin-top:20px;
}
#touxiang{
	
	height:110px;
	margin:20px 20px;
	Float:left;
}
#massage{
	
	border-style:solid;
    border-width:1px;
    border-color:#BBBBBB;
	width:340px;
	height:160px;
	background-color:#FFE8C6;
	margin:10px 9px;
}
#peoplepage-body{
	border-style:solid;
    border-width:1px;
    border-color:#FFD79C;
	width:100%;
	height:590px;
	background-color:#FFD79C;
}
/*热门内容-样式*/
#hot-boottom{
	border-style:solid;
    border-width:1px;
    border-color:green;
	width:100%;
	height:590px;
}
#getTheOne{
	
	background-color:#FFFFFF;
}
.top-oneOf{
	font-size:40px;
	text-align:center;
	background-color:#FFE8C6;
	width:40%;
	height:70px;
    border-radius:25px;
	Float:left;
}
.shangxin{
	margin-left:20px;
}
#iframe{
	width:90%;
	height:100%;
}
#iframe-frame{
	width:100%;
	height:508px;
	background-color:#FFFFFF;
    border-radius:25px;
	text-align:center;
}
#hot-body{
	border-style:solid;
    border-width:1px;
    border-color:#FFD79C;
	width:100%;
	height:590px;
	background-color:#FFD79C;
}
#top{
	margin-top:10px;
	width:100%;
	height:70px;
}
/*检索页样式*/
.types{
	width:100%;
}
.classes{
	background-color:#F0A0FF;
	width:85px;
	height:50px;
	margin:20px 10px;
    border-radius:40px;
	Float:left;
	text-align:center;
	line-height:50px;
	font-size:20px;
	color:#FFFFFF;
}
.findFrame{
	Float:left;
	width:80%;
	height:25px;
	border-style:solid;
    border-width:1px;
    border-color:#7A7A7A;
    border-radius:8px;
    background-color:#FFFFFF;
	opacity:0.9;
	font-size:16px;
	color:#BBBBBB;
	margin-top:5px;
	margin-left:10px;
}
/*二类按钮
主要用于检索按钮
*/
.icon2{
	height:23px;
	margin-top:10px;
	margin-left:10px;
}
/*底部样式*/
/*一类按钮
主要用于页面底部 3个主页的跳转按钮
*/
.icon1{
	height:40px;
	margin:5px 33px;
}
#classFind{
    height:270px;
    width:100%;
}
#typeFind{
	border-style:solid;
    border-width:1px;
    border-color:#BBBBBB;
    background-color:#FFFFFF;
    height:270px;
    width:100%-2;
    border-radius:15px;
}
#body{
    height:515px;
    width:100%;
    background-color:#FEFFD1;
}
/*三个页面主体*/
#hotpage{
	background-image:url(../img/hot_bk_img.png);
	background-color:green;
	border-style:solid;
    border-width:1px;
    border-color:black;
    height:640px;
    width:360px;
    
}
#peoplepage{
	background-image:url(../img/peo_bk_img.png);
	border-style:solid;
    border-width:1px;
    border-color:black;
    height:640px;
    width:360px;
}
#homepage{
	border-style:solid;
    border-width:1px;
    border-color:black;
    height:640px;
    width:360px;
}
/* 头部、底部*/
#head{
    height:75px;
    width:100%;
    background-color:#FFB337;
}
#bottom{
    height:50px;
    width:100%;
    background-color:#FFB337;
}